/* #first{
    background-color: red;
}

#shimul{
    background-color: blue ;
    width: 100px;
    border: 20%;
} */
.ndp{
   background-color: aqua;
   
}
.rad{
    background-color: red;
}

image{
   margin: 10px;
}

